* {
    box-sizing: border-box;
    margin: 0px;
    width: 100%;
    height: fit-content;
    font-family: 'Overpass Mono', monospace;
    
      /* font-family: 'Courier New', Courier, monospace; */
    font-weight:100;
    outline: none !important;
   position: relative;
   scrollbar-width: none; /* Firefox */
   -ms-overflow-style: none; /* Internet Explorer 10+ */
   


}
:root{
    --default-back:#FBFAF7;
    --current-back:#FBFAF7;
    --current-front: #212121;
    --black: #212121;

}
#app{
   
    background-color:var(--current-back);
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100vw;
    height: 100vh;
    overflow-x:hidden;
}

.page{
    
    position:absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--current-back);
    /* background-color: pink; */
    padding-top: 100px;
    padding:100px;
    
}
/*mobile is bigger */
@media (max-width: 900px){
    .page{

        padding: 80px;
        padding-top: 100px;
    }
   
}

@media (max-width: 600px){
    .page{
        padding: 10px;
        padding-top: 100px;
    }
   
}

.header{
    background-color: var(--current-back);
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 00px;
    padding-top: 50px;
    padding-bottom: 10px;
    z-index: 5;
}
.footer{
    background-color: var(--current-back);
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px ;
    position: fixed;
    bottom: 0px;
    z-index: 5;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.med-gap{
    gap: 10px;
}

.space-between{
    justify-content: space-between;
}

.hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
}

p{
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: 200%; /* 30px */
    letter-spacing: 2.25px;
}

h2{
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 9.6px;
}