* {
    box-sizing: border-box;
    margin: 0px;
    width: 100%;
    height: fit-content;
    font-family: 'Courier New', Courier, monospace;
    outline: none !important;
   position: relative;

}

#app{
    background-color:#EFEBDF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.med-gap{
    gap: 10px;
}

.space-between{
    justify-content: space-between;
}

.hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
}